@import 'bootstrap/app';
@import 'common';
@import 'buttons';
@import 'form';
@import 'header';
@import 'react-select';
@import 'tables';
@import 'side-nav';
@import 'react-datepicker';

html, body {
  min-height: 100vh;
  overflow-y: auto;
  background-color: $bg-app;
}

main {
  margin-top: 50px;
  margin-bottom: 80px;
}

select.max {
  max-width: 300px;
  padding: 6px 2px;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

label {
  display: inline;
  font-weight: normal;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
}

.logo {
  margin: 20px 12px;
}

.panel-container {
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px 15px 15px 100px;
}

.title-container {
  margin-left: 100px;
}

.grid-container {
  margin: 30px
}

.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}
