$primary-color:         #150f12;
$primary-color-dark:    #122836;
$primary-color-light:   #aacae3;
$accent-color:          #d44344;
$accent-color-light:    #c9c9c9;
$lg-grey:               #58565a;
$bg-app:                #fff;
$secondary-color:       #707070;
